.button {
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  background-color: #511CB9;
}
.button:hover {
  background-color: #E37B00;
  transition: all 0.3s;
}
.textButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 1.6rem;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}